# Server Configuration
PORT=5000

# Database Configuration
# Get this from your MongoDB Atlas Cluster -> Connect -> Drivers
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/freewheels

# Security
# Use a random long string for local development
JWT_SECRET=your_super_secret_jwt_key_here

# CLOUDINARY API KEY for geocoding and routing
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

GEOAPIFY_API_KEY=your_geoapify_api_key
ADMIN_KEY=your_admin_key
RESEND_API_KEY=your_resend_api_key